@inherits LayoutComponentBase
@inject LayoutStateService LayoutStateService
@inject AuthenticationStateProvider AuthStateProvider

<MudThemeProvider Theme="_theme" IsDarkMode="@LayoutStateService.DarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="0" Dense="false" Class="rounded-t-xl">
        <Header />
    </MudAppBar>
    <MudDrawer id="nav-drawer" @bind-Open="_drawerOpen" Variant="DrawerVariant.Mini" Elevation="0" Color="MudBlazor.Color.Transparent">
        <MudDrawerHeader>
            <MudStaticNavDrawerToggle DrawerId="nav-drawer" Icon="@Icons.Material.Filled.Menu" Color="MudBlazor.Color.Inherit" Edge="Edge.Start" Class="ml-n5" />
        </MudDrawerHeader>
        <NavMenu />
    </MudDrawer>
    <MudMainContent Class="pl-0 mud-height-full">
        <MudPaper Elevation="0" Class="pa-5 mud-height-full rounded-b-xl" Style="min-height: 91vh">
            @Body
        </MudPaper>        
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private bool _authenticated;
    private bool _drawerOpen = true;

    MudTheme _theme = new MudTheme()
    {
        PaletteLight = new PaletteLight()
        {
            Primary = "#2D5DDC",
            Secondary = "#FF5734",
            Success = "#C4F03B",
            Dark = "#151313",
            Info = "#E3E6E9",
            Surface = "#F5f5f5",
            SuccessContrastText = "#000000",
            AppbarBackground = "#BDBDBD",
        },
        PaletteDark = new PaletteDark()
        {
            Primary = "#2D5DDC",
            Secondary = "#FF5734",
            Success = "#C4F03B",
            SuccessContrastText = "#000000",
            Dark = "#151313",
            Info = "#E3E6E9"
        },

        LayoutProperties = new LayoutProperties()
        {
            DrawerWidthLeft = "260px",
            DrawerWidthRight = "300px",
            AppbarHeight = "70px",
        },

    };

    protected override async Task OnInitializedAsync()
    {
        LayoutStateService.OnChange += StateHasChanged;
        var state = await AuthStateProvider.GetAuthenticationStateAsync();
        _authenticated = state.User.Identity?.IsAuthenticated ?? false;
    }

    public void Dispose()
    {
        LayoutStateService.OnChange -= StateHasChanged;
    }
}


